*{
    margin: 0;
    padding: 0;
}
label
{
    display:inline-block;
    width:180px;
    color:white;
    margin-left:20px;
}
body{
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}
legend
{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
}
h1
{
    color:white;
}
.required
{
    color:red;
}
.button-group
{
    text-align:center;
    margin-top:20px;
}
button
{
    color:white;
    background:green;
    padding:10px 25px;
    font-size:16px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin:5px;
}
button[type="submit"]
{
    background-color: #28a745;
    color: white;
}
button[type="reset"]{
    background-color: #dc3545;
    color: white;
}